<div class='row'>
<div class='col-sm-8'>


<form class='filter-section' role="form" >

  <div class="form-group">
    <div class='speed-slider'>
      <span>Slow</span>
      <span class='fast-slider'>Fast</span>
    </div>
    <input type="range" name="speed" min="1" max="12" ng-model='filter.speed'></input>
    
  </div>

  <div class='form-group'>
    <button data-container="body" data-placement="left" settings-popover date='filter.date' ng-click='showPopover()' class='btn btn-sm btn-primary'>Change Date/Location</button>
  </div>

</form>
</div>
</div>

<div class='settings-popover-content' ng-show='false'>
<!--   <div>
  <button class='btn btn-default btn-small'>San Francisco</button>
  </div>
  <div>
  <button class='btn btn-default btn-small'>San Jose</button>
  </div> -->

  <div class="trip-date" data-date="12-02-2012"></div>
</div>