<div class='row'>
<div class='col-sm-8'>


<form class='filter-section' role="form" >

  <div class="form-group">
    <div class='speed-slider'>
      <span>Slow</span>
      <span class='fast-slider'>Fast</span>
    </div>
    <input type="range" name="speed" min="1" max="12" ng-model='filter.speed'></input>
    
  </div>

  <div class='form-group' ng-if='dateList.length > 0'>
    <button data-container="body" data-placement="left" settings-popover filter='filter' date-list='dateList' ng-click='showPopover()' class='btn btn-sm btn-primary'>Change Date/Location</button>

    <pre>
  
    {{filter}}
    </pre>
  </div>

</form>
</div>
</div>

<div class='settings-popover-content' ng-show='false'>
  <div>
  <button class='btn btn-primary btn-small city-button' data-cities='San Francisco'>San Francisco</button>
  </div>
  <div>
  <button class='btn btn-primary btn-small city-button' data-cities='San Jose' >San Jose</button>
  </div>
  <div>
  <button class='btn btn-primary btn-small city-button' data-cities='Palo Alto, Mountain View'>Palo Alto/Mountain View</button>

  <button class='btn btn-primary btn-small city-button' data-cities='Redwood City'>Redwood City</button>


  </div>

  <div class="trip-date" data-date="12-02-2012"></div>
</div>

<pre>
  
  {{filter}}
</pre>