<div class='row' style='position: relative  '>
    <div class="col-lg-9" ng-if='stations' map filter='filter' stations='stations' stats='stats' trips='data.trips'>
        <div id='map'></div>
        <svg id='stations-svg'></svg>
    </div>

    <div class="col-lg-3">
        <div style='z-index: 2000;' ng-show='stations' class='ng-hide'>
            <h1>San Francisco</h1>
            <h3>{{stats.testDate | date:'fullDate' }} </h3>
            <h3>{{stats.testDate + (stats.minutes * 60 * 1000) | date:'shortTime' }} </h3>
            <h3>{{stats.numBikes}} Bike Trips</h3>
            <ng-include src="'views/filter.html'"></ng-include>
        </div>
    </div>
</div>











