        <div id='map'></div>

        <svg map id='svg' ng-if='stations && trips' stations='stations' stats='stats' trips='trips' start='registerAnimation'></svg>
<div style='z-index: 2000; position:absolute; right: 10px; top: 20px; text-align: right;' ng-show='stats.minutes' class='ng-hide'>
        <h1>San Francisco</h1>
        <h3>{{stats.testDate | date:'fullDate' }} </h3>
        <h3>{{stats.testDate + (stats.minutes * 60 * 1000) | date:'shortTime' }} </h3>
        <h3>{{stats.numBikes}} Bike Trips</h3>
    </div>